@model IEnumerable<BookmakerModel>

<h1>
    @Model.FirstOrDefault().Markets.FirstOrDefault().Outcomes.FirstOrDefault().Name vs 
    @Model.FirstOrDefault().Markets.FirstOrDefault().Outcomes.LastOrDefault().Name
</h1>

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #4CAF50;
  color: white;
}
</style>

<table>
    <thead>
        <tr>
            <th>Bookmaker</th>
            <th>Market</th>
            <th>Home Team</th>
            <th>Away Team</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bookmaker in Model)
        {
            foreach (var market in bookmaker.Markets)
            {
                <tr>
                    @if(@*this is the first market we need to display the Bookmaker title*@ true)
                    {
                        <td>@bookmaker.Title</td>
                    } else
                    {
                        <td></td>
                    }
                    <td>@market.Key</td>

                    @foreach(var outcome in market.Outcomes)
                    {
                        <td>@outcome.Price</td>
                        
                    }
                </tr>
            }
        }
    </tbody>
</table>